.row.header {
	margin-bottom: 20px;
}

.row.header h1 {
	margin-bottom: 0px;
}

hr {
	color: #aaa;
}

ul.cv {
	padding-left: 15px;
	list-style-type: square;
	text-align: justify;
}

p.cv {
	margin-bottom: 5px;
	text-align: justify;
}

.row.cv {
	margin-top: 20px;
}

p {
	text-align: justify;
}

.spaced {
	margin-top: 40px;
}