---
layout: default
title: Blog
description: Personal blog about coding in Java, Spring, software architecture and DevOps
small_title: blog
variable_link_url: /
variable_link_label: curriculum
---

<div class="row">
	<div class="col-md-12">
		<h1>Blog Posts</h1>
		<small><i>This is a personal weblog. The opinions expressed here represent my own and not those of my employer.</i></small>
		<br/><br/>
		<ul class="list-unstyled">
			{% for post in site.posts %}
			<li>
				<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
				<ul class="list-inline pull-right">
					{% for category in post.categories %}
					<li><span class="label label-primary">{{ category }}</span></li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>